{% extends "ap2.j2" %}

{% block summary %}
<p>
Het Agentschap Justitie en Handhaving staat in voor de coördinatie van het netwerk van organisaties
die hulp- en dienstverlening aan gedetineerden aanbieden.
Bovenlokaal brengt het agentschap de verantwoordelijke beleidsdomeinen en middenveldpartners samen in
een gemengde commissie.
Het gaat hier om de beleidsdomeinen van werk, onderwijs, welzijn, gezondheid, sport en cultuur.
De gemengde commissie bepaalt in een strategisch plan voor een periode van vijf jaar waarop ingezet zal worden, en
staat ook in voor de opvolging en implementatie van dit plan. In elke gevangenis en detentiehuis zet
het agentschap een beleidscoördinator en organisatieondersteuner in.
Zij brengen lokale organisaties uit de omgeving binnen om een aanbod in te richten om
de specifieke doelgroep gedetineerden uit hun gevangenis en detentiehuis voor te bereiden op de re-integratie.
De beleidscoördinator en organisatieondersteuner coördineren dit geheel aan organisaties en bepalen samen met
de lokale organisaties de prioriteiten waarop ingezet zal worden.
</p>

<p>
Data ondersteunt goede en onderbouwde beleidsvoering. De verschillende administraties, middenveldpartners en
lokale organisaties hebben zelf data beschikbaar over de hulp- en dienstverlening die aangeboden wordt.
Er ontbrak echter een centraal model om deze data samen te brengen en zo beleidsdomein overstijgende geaggregeerde data
over de hulp- en dienstverlening aan te leveren.
</p>

<p>
Dit applicatieprofiel richt zich op hulp- en dienstverlening aan gedetineerden en
de vragen die hierrond gesteld kunnen worden.
We houden hier informatie bij over de verschillende activiteiten en de gevangenissen en
detentiehuizen waar deze plaatsvinden.
Hoe deze activiteiten tot stand komen is ook belangrijk.
Daarvoor houden we ook informatie bij over de organisaties die activiteiten organiseren en
welke financiering deze organisaties krijgen.
Wat volgt zijn een aantal vragen die beantwoord kunnen worden door
het applicatieprofiel toe te passen op de beschikbare data:

<ul>
  <li>
    Welk aanbod is er voor 50-plussers in een bepaalde gevangenis?
  </li>
  <li>
  	Welke investeringen heeft de Vlaamse Overheid reeds gedaan in hulp- en diestverlening aan gedetineerden in 2024?
  </li>
  <li>
  	Hoeveel vrijwilligers en fatikken hebben meegewerkt aan een bepaalde activiteit?
  </li>
  <li>
  	Hoeveel keer werd er gebruikt gemaakt van psychologische zorg door gedetineerden in een bepaalde gevangenis?
  </li>
  <li>
  	Hoeveel voltijdsequivalenten werden er ingezet bij het verwezelijken bij hulp- en diestverlening aan gedetineerden in een bepaalde gevangenis?
  </li>
  <li>
  	Wat zijn de kenmerken, zoals nationaliteit en leeftijd, van de gedetineerden in een bepaalde gevangenis?
  </li>
  <li>
  	Hoeveel (sessies van) activiteiten werden geannuleerd of verplaatst omwille van stakingen?
  </li>
</ul>

Je kan een aantal datavoorbeelden
<a href="https://github.com/Informatievlaanderen/OSLOthema-hulpEnDienstverleningAanGedetineerden/tree/main/data-examples">hier</a>
terugvinden.
</p>
{% endblock %}
